body{
  background-color: rosybrown;
  font-family: Arial, sans-serif;
  padding: 20px;
}
.business-card{
  width: 300px;
  padding: 20px;
  margin-top: 100px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  font-size: 16px;
  background-color: white;
  }
.profile-image{
  max-width: 100%;
}
p{
  margin-top: 5px;
  margin-bottom: 5px;
}
a{
  text-decoration: none;
}