body{
    display: grid;
  justify-items: center;
  margin: 150px;
}
.blog-post-card{
  background-color: white;
  width: 300px;
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
  border: 1px solid black;
}
.post-img{
  width: 100%;
  height: 200px;
  border-bottom: 4px solid black;
}
.post-content{
  padding: 10px;
}
.post-title, .post-excerpt{
  color: darkblue;
  font-family: arial;
}
.read-more{
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 3px;
  margin: 5px;
  border: 3px solid black;
  border-radius: 7px;
  display: inline-block;
}
.read-more:hover{
  background-color: grey;
}