body{
  background-color: white;
  color: whitesmoke;
}
.container{
  background-color: midnightblue;
  border-radius: 10px;
  box-shadow: 0 5px 15px black;
  margin: 20px auto;
  padding: 10px;
  width: 50%;
  font-family: Arial;
  font-size: 1.2rem;
}
fieldset{
  border: 2px solid black;
  border-radius: 5px;
  margin: 20px 0;
  padding: 20px;
}
input, textarea{
  border: 3px solid tan;
}
input:focus, textarea:focus{
  outline: none;
  border-color: skyblue;
}
input:invalid, select:invalid, textarea:invalid{
  border-color: red;
}
input:valid, select:valid, textarea:valid{
  border-color: green;
}
.submit-btn{
  cursor: pointer;
  background-color: royalblue;
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  padding: 8px 20px;
  font-size: 1.1rem;
  display: block;
  margin: auto;
}
button:hover{
  background-color: skyblue;
}

.radio-group input[type="radio"]{
  appearance: none;
  width: 16px;
  height: 16px;
  border: 3px solid white;
  border-radius: 5px;
  background-color: lightgreen;
  border-color: gray;
}
.radio-group input[type="radio"]:checked{
  background-color: green;
  border-color: white;
  box-shadow: 0 0 15px whitesmoke;
}
.radio-group label:has(input[type="radio"]:checked) {
  color: brown;
}


input:first-of-type{
  border-radius: 5px;
}
.info input, textarea{
  display: block;
  margin: 10px 5px;
  width: 80%;
}